* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: #edf2f8;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    margin-top: 3%;
    display: grid;
    max-width: 1150px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, min-content);
    grid-gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #48556a;
    border-radius: 12px;
    padding: 30px 40px;
}
.card1 {
    grid-column: 1/3;
    background-color: #733fc8;
    background-repeat: no-repeat;
    background-position: 80% 0;
}
.card2{
    grid-column: 3/4;
}
.card3{
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: white;
}
.card4{
    grid-row: 2/3;
    grid-column: 2/4;
    background-color: #19212e;
}
.card5 {
    grid-row: -1/1;
    grid-column: 4/5;
    background-color: white;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #edf2f8;
}
.header img {
    border-radius: 50%;
    border: 2px solid white;
    width: 30px;
    height: 30px;
}
.user {
    padding-left: 20px;
}
.user3 {
    padding-left: 20px;
    color: #222;
}
.name {
    font-weight: 500;
}
.sname {
    opacity: 0.5;
}

.title {
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
}
.title3 {
    color: #222;
    margin-bottom: 20px;
    font-size: 20px;
}
.text {
    color: #b2bacc;
    line-height: 1.4;
    opacity: 0.7;
    font-weight: 500;
}
.text3 {
    color: #41444b;
    line-height: 1.4;
    opacity: 0.7;
    font-weight: 500;
}

@media(max-width: 1024px){
    body{
        padding: 20px;
    }
    main{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, min-content);
        width: 95%;
        grid-gap: 15px;
    }
    .card-1{
        grid-column: 1/3;
    }
    .card-2{
        grid-column: 3/4;
    }
    .card-5{
        grid-column: 1/4;
        grid-row: 3/4;
    }
}
@media(max-width: 770px){
    main{
        margin-top: 20px;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto)
    }
    .card{
        grid-column: unset;
        grid-row: unset;
    }
}
